apiVersion: v1
kind: Namespace
metadata:
  name: istio-system
  annotations:
    scheduler.alpha.kubernetes.io/defaultTolerations: ${namespace_tolerations}
    scheduler.alpha.kubernetes.io/node-selector: ${namespace_node_selector}
