apiVersion: v1
kind: Namespace
metadata:
  name: istio-gateway-private
  labels:
    istio-injection: enabled
  annotations:
    scheduler.alpha.kubernetes.io/defaultTolerations: ${namespace_tolerations}
    scheduler.alpha.kubernetes.io/node-selector: ${namespace_node_selector}