apiVersion: v1
kind: Service
metadata:
  name: istio-gateway
  namespace: istio-gateway-private
  annotations:
    service.beta.kubernetes.io/azure-load-balancer-resource-group: ${resource_group_name}
spec:
  loadBalancerIP: ${public_ip}
